@keyframes zoomIn {
    0% {
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%) scale(0);
    }
    100% {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(1);
    }
} 


@keyframes fromLeftToRight {
    0% { transform: translateX(-300px); }
    100% { transform: translateX(0); }
}