@import "./layouts/home";
@import "./layouts/product-list";
@import "./animations";
@import "./pages/product-list"; 
@import "./pages/cart";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body, html {  
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
     
} 
      
* {
    font-family: 'Lato', sans-serif;
}    