body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* flex container */
.container {
    width: 600px;
    background-color: red;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/* flex items */
.item {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 10px;
}

.item-1 {
    order: 3;
    /* flex: 1; */
}

/* flex-basis 
flex-grow
flex-shrink 0/1 */


.item-2 {
    order: 1;
}

.item-3 {
    order: 0;
    /* height: 100px; */
}

.item-4 {
    order: 2;
    /* font-size: 50px; */
}

.item-5 {
    order: 4;
}