/* .parent {
    width: 400px;
    height: 400px;
    background-color: black;
    transition: all .6s cubic-bezier(.17,.67,.83,.67);
    
} */

/* .parent:hover .child {
    transform: translateY(100%);
} */

/* .child {
    width: 50%;
    height: 50%;
    background-color: red;
    transition: transform .5s;
    animation-name: moveIntoCircle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

*/


@keyframes moveIntoCircle {
    /* 0% { 
        transform: translate(0)
    } */

    33% {
        transform: translateY(100%);
    }

    66% {
        transform: translateY(100%) translateX(100%)
    }

    100% {
        transform: translateX(100%)
    }

}


html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}


.sky {
    height: 40vh;
}

.road, .grass {
    height: 30vh;
}

.grass, .road, .sky {
    width: 100vw;
}

.sky {
    background-color: deepskyblue;
    position: relative;
}

.sky img:nth-child(1) {
    width: 100px;
    animation-name: sunRotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.sky img:nth-child(2) {
    width: 200px;
    position: absolute;
    right: 0;
    animation: cloudAnimation 15s linear infinite;
}

.grass {
    background-color: green;
}

.road {
    position: relative;
    background-color: gray;
    outline: 3px solid lightgray;
}

.road img {
    width: 60px;
    position: absolute;
}

.road img:nth-child(2) {
    top: 5%;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-delay: .1s;
    animation-iteration-count: infinite;

}


.road img:nth-child(3) {
    top: 63%;
     animation-name: driveSecond;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


.road-lines {
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 5px dashed white;
}


@keyframes drive {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(700px); }
}

@keyframes driveSecond {
    from { transform: translate(0); }
    to { transform: translate(500px); }
}

@keyframes sunRotate {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}



@keyframes cloudAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}


/* 
body {
    background-color: gray;
} */


.modal {
    width: 70vw;
    height: 50vh;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 30px;
    animation: zoomIn .5s linear forwards;
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.header {
    padding: 60px;
    background-color: red;
    animation: fadeIn .5s linear;
}


.banner {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: green;
    animation: zoomIn .5s linear .5s backwards;
}

.button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    animation: moveInFadeIn .5s linear 1s backwards;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes moveInFadeIn {
    0% {
        top: 40%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

