@mixin media700 {
    @media (max-width: 700px) {
        @content
    }
}

.products {
    border: 1px solid #c2bebe;
    margin: 1rem;
    border-radius: 6px;

    .product {
        height: 150px;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem !important;
        @include media700 {
            flex-direction: column;
        }
    }
}


.btn-buy {
    width: 200px;
    margin-right: 1rem;
}

img {
    height: 100% !important; 
    width: 150px !important;
}


.button-group {
    @include media700 {
        flex-direction: column;
        span {
            margin-right: 0!important;
            margin-left: 0!important;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}