@import "../animations.scss";
@import "../mixins/mixins.scss";

$sidebarWidth: 300px;

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 2rem;

    @media (max-width: 975px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 765px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 530px) {
        grid-template-columns: 1fr;
    }
}

.filter-btn {
    margin-left: 2rem;
    margin-top: 1rem;
}

.sidebar {
    width: $sidebarWidth;
    height: 100vh; 
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;   
    background-color: white;
    // animation: fromLeftToRight .3s linear both;
    transition: all .3s;
}

.hidden {
    left: -$sidebarWidth;
}

.show {
    left: 0
}


.sidebar-backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}


.responsive-header-dropdown {
    animation: slideDown .2s linear both;
}


@keyframes slideDown {
    0% { height: 0%; };
    100% { height: 100%; }
}

.cart-number {
    top: -12px;
    right: -8px;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8383f8;
    display: flex;
    align-items: center;
    justify-content: center;
}