.container {
    width: 90vw;
    height: 80vh;
    border: 10px solid red;
    display: grid;
    /* grid-template-columns: repeat(3, 200px);
    grid-template-rows: 150px 75px; */
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 20px; */
    /* grid-gap: 20px; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end]; */
    /* grid-template-rows: 100px 200px 300px; */
    /* grid-template-columns: 50px; */
    /* grid-auto-rows: 50px; */
    /* grid-auto-flow: dense; */


    /* *** GRID TEMPLATE AREAS *** */
    /* grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    grid-auto-rows: 80px auto 120px;
    grid-template-areas: "h h h" "c c s" "f f f"; */

    /* grid-template: "h h h" 80px "c c s" auto "f f f" 120px */
    



    /* *** IN GRID CELL *** */
    /* align-items: stretch; */
    /* align-items: center; */
    /* justify-items: stretch; */
    /* justify-items: end; */

    /* place-items: stretch; */


    /* *** IN GRID *** */
    /* align-content: center; */
    /* justify-content: space-between; */
    /* place-content: center space-between; */



    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    grid-template-rows: 100px 100px 100px 100px;

    
}


/* .one {
    grid-column-start: 1;
    grid-column-end: 3;
} */
/* ***SAME*** */
/* .one {
    grid-column-start: col-start;
    grid-column-end: col-3;
} */

/* .one {
    grid-column-start: col-start;
    grid-column-end: span 3;
} */

/* .one {
    grid-column-start: col-start;
    grid-column-end: span col-3;
} */


.one {
    grid-column: col-start / col-end;
}

.two {
    /* grid-row-start: 2;
    grid-row-end: 5; */
    grid-row: 2 / 6;
}




/* .header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.sidebar {
    grid-area: s;
}

.footer {
    grid-area: f;
} */

.item {
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 20px;
}
