@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.products {
  border: 1px solid #c2bebe;
  margin: 1rem;
  border-radius: 6px; }
  .products .product {
    height: 150px;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem !important; }
    @media (max-width: 700px) {
      .products .product {
        flex-direction: column; } }

.btn-buy {
  width: 200px;
  margin-right: 1rem; }

img {
  height: 100% !important;
  width: 150px !important; }

@media (max-width: 700px) {
  .button-group {
    flex-direction: column; }
    .button-group span {
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-top: 1rem;
      margin-bottom: 1rem; } }

@keyframes zoomIn {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); } }

@keyframes fromLeftToRight {
  0% {
    transform: translateX(-300px); }
  100% {
    transform: translateX(0); } }

.home {
  height: 100vh;
  display: grid;
  grid-template-areas: 'h h h' 'c c c' 'f f f'; }

#header {
  grid-area: h; }

.home-content {
  grid-area: c; }

#footer {
  grid-area: f; }

.navigation {
  padding: 1rem;
  position: relative;
  font-size: 1rem; }

.logo-container {
  display: flex;
  align-items: center; }

#logo {
  width: 5rem;
  margin-right: 20px; }

#search {
  background-color: transparent;
  border: 1px solid #1f382e;
  border-radius: 4px;
  outline: none;
  padding: 6px 10px; }

.links {
  visibility: visible; }
  @media (max-width: 900px) {
    .links {
      display: none !important; } }

ul.links li:not(:last-child) {
  margin-right: 16px; }

.nav-items {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul.nav-items li {
  display: inline; }

.auth {
  float: right; }
  @media (max-width: 900px) {
    .auth {
      display: none; } }

.burger-checkbox-label {
  width: 50px;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 6px;
  height: 50px;
  border: 1px solid #b1b1b1;
  border-radius: 6px;
  cursor: pointer; }
  @media (max-width: 900px) {
    .burger-checkbox-label {
      display: flex; } }

.responsive-header-dropdown {
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  overflow: hidden; }

.menu-line {
  border-top: 2px solid #746767;
  width: 100%; }

.burger-checkbox {
  display: none; }

.burger-checkbox:checked + div {
  display: flex;
  left: 0;
  top: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.btn-primary {
  background-color: #8a25e1;
  color: white;
  padding: 6px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s; }

.btn-primary:hover {
  background-color: #5a0c9d;
  /* position: relative; */
  /* position: absolute; */
  /* position: fixed;
    position: sticky; */ }

#img {
  opacity: .6;
  transition: all .3s; }

#img:hover {
  opacity: 1; }

table, td, th {
  border: 1px solid gray; }

th {
  background-color: green;
  color: white; }

td, th {
  padding: 4px 8px; }

tr:nth-child(even) {
  background-color: gold; }

tr:nth-child(even):hover {
  background-color: red;
  color: white; }

tr:nth-child(odd):hover {
  background-color: black;
  color: white; }

tr:nth-child(odd) {
  background-color: goldenrod; }

table {
  border-collapse: collapse; }

#slider {
  position: relative; }

.slider {
  height: 45vh; }

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.slider-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  backdrop-filter: blur(6px);
  transition: all .3s;
  transition-timing-function: linear; }

.slider-btn:hover {
  backdrop-filter: blur(10px); }

.suggestedProductsTitle {
  text-align: center; }

.suggestedProducts {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 8px;
  margin-right: 8px; }
  @media (max-width: 900px) {
    .suggestedProducts {
      flex-direction: column; } }

.product {
  flex: 1;
  margin-right: 15px;
  box-shadow: 0px 5px 5px #cbcbcb;
  cursor: pointer;
  transition: box-shadow .3s; }

.product:last-child {
  margin-right: 0; }

.product:hover {
  box-shadow: 0px 5px 5px #939393; }

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover; }

.product-desc {
  padding: 20px; }

.product-quantity {
  outline: none;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid gainsboro;
  margin-right: 10px; }

.product-quantity:focus {
  border: 1.5px solid #bebdbd; }

.product-inputs-container {
  display: flex;
  align-items: center; }

#footer {
  width: 100%;
  background-color: #8cf704;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.auth-modal, .register-modal {
  background-color: white;
  padding: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: zoomIn .3s linear both; }

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden; }

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem; }

.register-modal, .auth-modal {
  visibility: hidden; }

#error-message, #register-error-message {
  display: none;
  color: red;
  font-weight: 600; }

@keyframes zoomIn {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); } }

@keyframes fromLeftToRight {
  0% {
    transform: translateX(-300px); }
  100% {
    transform: translateX(0); } }

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 2rem; }
  @media (max-width: 975px) {
    .product-list {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 765px) {
    .product-list {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 530px) {
    .product-list {
      grid-template-columns: 1fr; } }

.filter-btn {
  margin-left: 2rem;
  margin-top: 1rem; }

.sidebar {
  width: 300px;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  transition: all .3s; }

.hidden {
  left: -300px; }

.show {
  left: 0; }

.sidebar-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: all .3s; }

.responsive-header-dropdown {
  animation: slideDown .2s linear both; }

@keyframes slideDown {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

.cart-number {
  top: -12px;
  right: -8px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8383f8;
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes zoomIn {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); } }

@keyframes fromLeftToRight {
  0% {
    transform: translateX(-300px); }
  100% {
    transform: translateX(0); } }

.page-item {
  cursor: pointer;
  user-select: none; }

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: 'Lato', sans-serif; }
