@mixin centerWithAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .6);;
    top: 0;
    left: 0; 
    z-index: 1;
}


@mixin media900 {
    @media (max-width: 900px) {
        @content
    }
}